#wrapper {
  	width:95%;
  	max-wigth:1200px;
	min-width: 871px;
	height:auto;
	margin: auto;
}

header {
	font-family: 'Cabin Sketch', cursive;
	font-size: 30px;
    font-weight: 30;
	margin: 0.5% 0;
	color: black;
	width:100%;
	min-width: 871px;
	height:auto;
	max-height: 290px;
	background-size:cover;
	background-repeat: no-repeat;
	background-image: url("../bilder/X-Men-cover.jpg");
	float:left;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

header h1 {
	margin-left: 2.5%;
}

nav {
	font-family: 'Maven Pro', sans-serif;
	font-size: 16px;
	clear:both;
	width:100%;
	min-width: 871px;
    height:40px;
    background:#257a72;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

nav ul {
	list-style: none;
	margin: 0 auto;	
}

nav ul li {
	float: left;
	display: inline;
}

nav ul li a {
	text-decoration: none;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

nav a:link, nav a:visited {
	color: #fff;
	padding: 10px 20px;
	display: inline-block;
	height: 20px;
}

nav a:hover, nav a:active, 
nav .active a:link, nav .active a:visited {
	background-color: #040404;
	transition-duration: 2s;
	text-shadow: none;	
}

#main-content {
	width:100%;
	min-width: 871px;
	height:auto;
	min-height:300px;
	float:left;
	margin-bottom: 2%;
}


footer{
	font-family: 'Maven Pro', sans-serif;
	color: #fff;
	clear:both;
  	width:100%;
	min-width: 871px;
	height:50px;
	background:#257a72;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}